<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - FoodBites</title>
		
	<link rel="stylesheet" href="~/css/site.css">
		
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
		
	<!-- Latest compiled and minified JavaScript -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FoodBites", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<!--                    <li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <li>@Html.ActionLink("Petiscos", "Index", "Petiscos")</li>
                    <li>@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                    <li>@Html.ActionLink("Estabelecimentos", "Index", "Estabelecimentos")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FoodBites</p>
        </footer>
    </div>


	
</body>
</html>
