@model IEnumerable<Backoffice.Models.Petiscos.Especialidade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Especialidades</h2>

<br/>

<h4> @Html.ActionLink("Criar Novo", "Create") </h4>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Petisco.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estabelecimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Petisco.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco) €
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fotografia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estabelecimento.Nome)
        </td>
        <td>
			<b>|</b>
		@foreach (var item2 in item.Caracteristicas) {
			@Html.DisplayFor(modelItem => item2.Texto) 
			<b>|</b>
		}
        </td>
        <td>
            @Html.ActionLink("Editar",   "Edit",    new { id=item.ID }) |
            @Html.ActionLink("Remover",  "Delete",  new { id=item.ID })
        </td>
    </tr>
}

</table>